@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

main.container {
    padding: 2em 0;
}

header#main-header {
    padding: 0;
    display: flex;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}

nav ul li {
    margin: 0;
}

header#main-header,
footer#main-footer {
    background-color: #000;
    color: #FFF;
}

a {
    color: inherit;
}

p, li {
    max-width: 80ch;
}

a.box-link {
    color: #FFF;
    min-width: 42px;
    background-color: #000;
}

a.box-link.active,
a.box-link:hover {
    color: #000;
    background-color: #FFF;
    transition: all 100ms ease-in;
}

section, article {
    margin: 3em auto;
    width: 100%;
    max-width: 1024px;
}

footer#main-footer {
    padding: 0;
}
footer#main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}