/*
* Normalize.css
* A modern, HTML5-ready alternative to CSS resets
* @see: https://necolas.github.io/normalize.css 
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('scroll.css');

/*Determinar las variables css*/
:root {
    --bg-color: #e8e8e8;
    --text-color: #000000;
    --menu-color:#000000;

}



html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.4em;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

/* Laptop / Tablet */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

a.box-link {
    color: var(--menu-color);
    font-weight: 600;
    text-decoration: none;
    padding: 0.25em .5em;
    text-transform: uppercase;
    min-width: 42px;
    background-color: #fff;
    transition: all 300ms ease-out;
}

a.box-link:hover {
    transition: all 100ms ease-in;
    filter: invert(1);
}

a.active {
    pointer-events: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    color: var(--text-color);
}

p {
    max-width: 60ch; /* Ancho máximo basado en el ancho del carácter "0" */
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    width: 90%;
    min-width: 290px;
    max-width: 1200px;
    color: var(--text-color);
}

nav.container {
    padding: 1em;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0 1em;
}

footer ul li a {
    text-decoration: none;
    color: var(--text-color);
}