/*
* Normalize.css
* A modern, HTML5-ready alternative to CSS resets
* @see: https://necolas.github.io/normalize.css 
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('scroll.css');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Cinzel:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sacramento&family=UnifrakturMaguntia&display=swap');
/*Determinar las variables css*/
:root {
    --bg-color: #ffffff;
    --text-color: #ffffff;
    --menu-color:#000000;
}

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.background {
    width:100%;
    height:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    padding:0;

}


html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.4em;
    background-color: var(--bg-color);
    overflow-x: hidden;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Laptop / Tablet */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    color: var(--text-color);
}

h1 {
    font-size: 1.5em;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
}

h2 {
    font-size: 0.8em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
}
nav ul li {
    display: inline;
}

main{
    padding: 0 2em;
    margin-top: 10vh;
    position: relative;
    justify-content:center;
    align-items: center;
    
  }

a.box-link {
    color: var(--menu-color);
    font-weight: 600;
    text-decoration: none;
    padding: 0.25em .5em;
    text-transform: uppercase;
    min-width: 42px;
    background-color: #fff;
    transition: all 300ms ease-out;
}

a.box-link:hover {
    transition: all 100ms ease-in;
    filter: invert(1);
}

a.active {
    pointer-events: none;
}

footer {
    width: 100%;
    text-align: center;
    color: var(--text-color);
}

p {
    max-width: 50ch; /* Ancho máximo basado en el ancho del carácter "0" */
}


/* Barra superior */

.barra-superior {
    display: flex; 
    position: fixed;
    justify-content: center; 
    align-items: center; 
    height: 10vh;
    padding: 0 2em;     
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    z-index: 1000;
}

.barra-superior .logo {
    flex: 1; /* Permite que el logo ocupe espacio */
    text-align: center; /* Centra el logo horizontalmente */
}

.barra-superior .logo img{
    width: auto;
    height: 40px;
    transition: all 0.3s ease;
  }

.barra-superior .logo img:hover {
  transform: scale(1.5); 
}

.barra-superior .redes-sociales ul {
    justify-content: flex-end; 
    padding: 0;
    margin: 0;
}

.barra-superior .redes-sociales li a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--menu-color);
}

.barra-superior .menu-desplegable {
    justify-content: center; 
    align-items: center;
    width: 10%;
    height: 9%;
    position: fixed;
    left: 0%; /* Added margin from the left */
    top:2%;
    transition: 0.2s all;
    z-index: 1001; /* Ensure it appears above other elements */
    text-align: center;
}

.barra-superior .menu-desplegable img{
    width: 100%;
    max-width: 40px;
    height: auto;
    transition: all 0.3s ease;
  }

  .barra-superior .menu-desplegable ul {
    padding: 0;
    margin: auto;
    list-style: none;
}

.menu-desplegable li, .menu-desplegable a, .menu-desplegable h2 {
    transition: 0.3s all;
    font-size: 0;
    padding: 0;
    color: var(--menu-color);
}

.barra-superior .menu-desplegable:hover {
    width: 25%;
    height: 25%;
    transform: none;
}

.barra-superior .menu-desplegable:hover h2 {
    font-size: 30px;
    padding: 15px;
    color: #000000;
}

.barra-superior .menu-desplegable:hover a {
    font-size: 15.5px;
    display: block;
    padding: 20px;
}

.barra-superior .menu-desplegable:hover li {
    border-top: 1px solid #000000;
    background-color: var(--bg-color);
}



.block {
    display: block;
    position: relative;
    align-items: center;
    padding: 1em; 
    border-radius: 10px;
    margin: auto;
    margin-top: 2%; /* Center horizontally */
    max-width: 500px;
    width: 100%;
    height: auto;
    background: #242424;
    color: var(--text-color);
}

.block-text h1{
    text-align: left;
}

.block-text p{
    font-size: 0.8em;
}

.block-text {
    position: relative;
    text-align: left;
    color: var(--text-color);
    text-align: left;
}

.div_covers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5em; 
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5%; /* Center horizontally */
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    height:   auto;
    color: #FCFCFC;
    position: relative;
}

.div_covers img:hover {
    transform: scale(1.5); 
    
  }

.div_covers img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 0 1em;
}

.div_covers ul li p{
    position: absolute;
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
    padding: 0;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.div_illustrations{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5em; 
    border-radius: 10px;
    margin: auto;
    margin-top: 2%; /* Center horizontally */
    width: 100%;
    height: auto;
    color: #FCFCFC;
    text-align: left;
    position: relative;
}

.div_illustrations div {
    flex: 1 1 calc(50% - 1em);
    text-align: center; /* Centra el contenido dentro de cada columna */
}


.div_illustrations img:hover {
    transform: scale(0.5em); 
    
  }

.div_illustrations img{
    width: 70%;
    height: auto;
    border-radius: 10px;
    transition: all 0.2s ease;
    margin: 0 2em;
    
}

.div_illustrations li{
    position: relative;
    align-content: normal;
}

.div_illustrations ul li p{
    position: absolute;
    font-size: 1em;
    color: var(--text-color);;
    padding: 0;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    bottom: 10;
    transform: translateY(50%);
}

.div_covers_projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5em; 
    margin: 0 auto;
    margin-top: 5%; /* Center horizontally */
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    height:   auto;
    color: #FCFCFC;
    position: relative;
}

.div_covers_projects img:hover {
    transform: scale(1.5); 
    
  }

.div_covers_projects img{
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 0 1em;
}

.div_covers_projects ul li p{
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    position: absolute;
    text-align: right;
    font-size: 1.5em;
    color: var(--text-color);
    text-align: right;
    padding: 0 auto;
    margin: 0;
    width: 100%;
    right: 10%;
    bottom:10%;
    transform: translateY(50%);
}
